.pic1
{
 width: 400px;

}
.tes
{
    text-align: center;
}
.div1
{
    text-align: center;
    color: darkorchid;
}
.div2
{
    text-align: end;
    color: rgb(226, 24, 24);
}
.div3
{
    background-color: rgb(255, 248, 143);
    text-align: end;
    color: rgb(5, 5, 5);
}
.text
{
    text-align: center;
}
.text2
{
    background-color: rgb(135, 255, 14);
    text-align:center;
    color: crimson;
}
.ss
{
    color: rgb(226, 24, 24);
    text-align:end;
}
.ff
{
    text-align: center;
}
.fff
{
    text-align: center;
    color: tomato;
}



